Bugs d'affichage quand plusieurs bombes explosent l'une a côté de l'autre (conditions d'affichage et d'enlevement des flammes a revoir)
<br>
Faire en sorte que lorsqu'une bombe explose a côté d'une autre elle déclenche l'explosion de celle-ci
<br>
Menu de selection a faire
<br>
Actualisation du score des players a faire, endgame a revoir ( changer le location.reload pour pouvoir conserver le score des joueurs et faire en sorte d'arreter l'appel du endGame une fois qu'elle a été appelée une fois)
<br>
Chronometre de temps de partie a faire et a afficher
<br>
Animation des personnages a faire
