body{
    margin :0; 
    padding:0;
    background-image: url("img2/backgroundnew.png");
    background-position-x: center;
    background-repeat: no-repeat;
}
#Game{
    
    width:100%;
    display: flex;
    justify-content: space-around;
    
}
#BoiteFromage{
    
    margin-top: 180px;
    display: flex;
    justify-content: center;
    
}
#chrono{
    position:absolute;
    left:49%; 
    top:75px;
    font-size:30px; 
    color:yellow; 
    
}

#myCanvas{ 
    cursor: pointer;    

}

.scorePlayer{
    margin-top: 200px;
    width: 90px; 
    height: 90px;  
}
.scorePlayer img{
    width: 100%; 
}
#delete{
    position: absolute;
    bottom:0; 
    
}
/* -----Timer---- */
.clock {
    border-radius: 50%;
    background: white url(horloge.png) no-repeat center;
    background-size: 100%;
    height: 7em;
    top:20px;
    left:47%;
    position: absolute;
    width: 7em;
  }
  
  .clock.simple:after {
    background: #000;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }

 .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


  .seconds {
    background: rgb(49, 47, 47);
    height: 48%;
    left: 47.5%;
    position: absolute;
    top: 3%;
    transform-origin: bottom;
    width: 3%;
    z-index: 8;
  }



